extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Inicio
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Servicios
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  header.bg-primary.text-white
    .container.text-center
      h1 Bienvenidos Almacen de Bicicletas
      p.lead Un lugar donde puedes encontrar las mejores marcas!
  section#about
    .container
      .row
        .col-lg-8.mx-auto
          h2 About this page
          p.lead
            | This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:
          ul
            li Clickable nav links that smooth scroll to page sections
            li Responsive behavior when clicking nav links perfect for a one page website
            li
              | Bootstrap&apos;s scrollspy feature which highlights which section of the page you&apos;re on in the navbar
            li Minimal custom CSS so you are free to explore your own unique design options
  section#services.bg-light
    .container
      .row
        .col-lg-8.mx-auto
          h2 Services we offer
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.
  section#contact
    .container
      .row
        .col-lg-8.mx-auto
          h2 Contact us
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
    .container
      #main_map
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Your Website 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom JavaScript for this theme
  script(src='/javascripts/scrolling-nav.js')
  script(src='/javascripts/map.js')
